<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BigClockGit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BigClockGit.Properties.Settings>
            <setting name="ScreenGeometry1" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenGeometry2" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenGeometry3" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenGeometry4" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenGeometry5" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenGeometry6" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenGeometry7" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenGeometry8" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenGeometry9" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenGeometry10" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstLaunchDone" serializeAs="String">
                <value />
            </setting>
        </BigClockGit.Properties.Settings>
    </userSettings>
</configuration>